.container {
    display: flex;
    margin: 40px;
}

.avatar {
    height: 250px;
}

.searchBox {
    display: flex;
}

.searchBtn {
    margin-left: 5px;
}

.searchBtnBox {
    display: flex;
}

.resetBtn {
    margin-left: 5px;
}

.users {
    cursor: pointer;
}

.users:hover {
    color: cornflowerblue;
}

.selected {
    color: cornflowerblue;
}

.list {
    margin-top: 20px;
}

.detailsBox {
    margin-top: 30px;
    margin-left: 30px;
}

.details {
    margin-top: 10px;
    margin-left: 5px;
}

.timer {
    margin-bottom: 10px;
}

.timerBox {
    display: flex;
    justify-content: right;
}